/*
 Clonzy App
 © Shaun Garn 2025 — All Rights Reserved
*/
<manifest package="com.clonzy.app" xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET"/>
  <application android:label="Clonzy" android:icon="@mipmap/ic_launcher" android:usesCleartextTraffic="true" android:description="© Shaun Garn 2025 — All Rights Reserved">
    <activity android:name=".MainActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>